body {
    font-family: 'merriweather', serif;
    background: #FFF;
    background: center;
    position: relative;
}

header {
    background-image: url(../images/Banner\ Image.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;
}

.hero-image {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    display: flex;
}

.hero-text h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    width: 260px;
    height: 40px;
    margin: 177px 530px 0px 530px;
}

.hero-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    height: 190px;
    margin: 0px 344px 110px 344px;

}

.section-catagories {
    align-items: center;
    text-align: center;
    margin-top: 0px;
    font-family: 'inter', sans-serif;
}

.section-catagories h1 {
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 35px;
}

.section-catagories p {
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 0;
}

.section-catagories h3 {
    color: #070211;
    font-size: 48px;
    margin-top: 8px;
}

.welcome {
    background-image: url(../images/Vectorrr.png);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;
}


.welcome-title {
    color: #FFF;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-description {
    width: 650px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-welcome {
    color: #FFF text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.welcome-pic {
    display: flex;
    width: 150px;
    height: 200px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.location {
    height: 100vh;
    background-color: rgb(255, 235, 235);
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    padding-top: 100px;
    border-radius: 16px;
    background-position: center;
    border-radius: 16px;
    border: 1px solid #ccc;
    flex-shrink: 0;
}

.location-content {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    
}

.location h2 {
    color: #F00;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin: 0;
}

.location span {
    color: #070211;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0;
}

.location button {
    color: #FFF;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #F00;
    border-radius: 8px;
    border: 0px;
}

.offer-content {
    display: flex;
    height: 100vh;
    margin: 30px;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;


}


.offer-content-box h3 {
    color: #F00;
    text-align: left;
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.offer-content-box h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 0;
}

.offer-content-box p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-top: 15px;

}

.offer-border {
    border-radius: 463px;
    flex-shrink: 0;


}

.offer-pic {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background: #F00 -91.279px 0px / 150.038% 100% no-repeat;
    padding: 20px;

}

.offer-content-right {
    margin-left: 100px;
}

.offer-content-right h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.offer-content-right p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 0px;
}

.holiday {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;
    text-align: center;

}
.holiday-container{
    margin: 0px;
    padding: 0px;
}

.holiday h3 {
    color: #070211;
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.holiday h1 {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;
}

.holiday span {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;
}

.holiday p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    height: 96px;
    font-size: 20px;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    line-height: 32px;
}

.picture-container {
    background-image: url(../images/Rectangle\ 2.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-top: 0px;
    
}

.picture-1 {
    height: 550px;
    width: 550px;
    margin: 350px 0px -70px 0px;

}

.picture-2 {
    background-position: right;
    margin-right: 0px;
    padding: 0px;
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
    margin: 200px -150px 50px 150px;

}

.picture-3 {
    height: 400px;
    width: 400px;
    background-position: right;
    margin: 108px 0px 0px 163px;
}
#shopping{
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;
    margin: 350px;
}

.shopping-description{
    margin-bottom: 20px;
}
.shopping-description h2{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    margin-bottom: 0px;
}
.shopping-description h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 8px;
}
.shopping-description p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0px;
}
.shopping-images-top, .shopping-images-bottom {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}
.shopping-images-top{
    margin: 10px auto;
    margin-bottom: 30px;
}
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: 1s;
}
.box:hover{
    transform: scale(1.5);
    z-index: 1;
    color: aqua;
}

.email{
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    flex-shrink: 0;
    margin: 20px;
    margin-top: 100px;
}
.email-container{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: rgba(255, 0, 0, 0.05);

}
.email-icon{
    width: 150px;
    height: 150px;
    margin: 80px 585px 20px 585px;

}
.email-container h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0px;
}
.email-container p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}
.subscribe{
   display: flex;
   height: 100vh;
   align-items: center;
   margin-left: 700px;
   height: 400px;
   margin-top: 0px;
}
.subscribe input[type="email"] {
    border: none;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 52px 0 0px 52px;
    position:static;
    height: 40px;
    width: 450px;
}
.subscribe button{
    background-color: #F00;
    color: white;
    border: none;
    border-radius: 0 52px 52px 0;
    padding: 10px;
    cursor: pointer;
    height: 62px;
    width: 200px;
}
.subscribe button:hover {
    background-color: #45a049;
}

footer{
    height: 100vh;
    width: 1600px;
    height: 609px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #070211;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin: auto;
}
.address{
    display: flex;
    text-align: justify;
}

.address-location{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 120px 0 0 140px;
}
.phone{
    color: #FFF;
    display: flex;
    margin: 120px 291px 0 550px;
}
.phone img{
    margin: 24px 24px;
}
.website{
    color: #FFF;
    display: flex; 
    margin: 0 291px 0 550px;   
}
.website img{
    margin: 24px 24px;
}